<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar Pessoa</title>
</head>
<body>
    <h1>Criação de Pessoas</h1>
    <a href="{% url 'pessoas_pessoa_list' %}">Ir para Listagem de pessoa</a>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Criar</button>
    </form>
</body>
</html>