<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deletar Pessoa</title>
</head>
<body>
    <h1>Deletar Pessoa</h1>
    <a href="{% url 'pessoas_pessoa_list' %}">Ir para criação de pessoa</a>
    <form method="post">
        {% csrf_token %}
        <p>Você tem certeza que quer deletar a pessoa? {{ object.nome }}</p>
        <button type="submit">Sim, tenho certeza</button>
    </form>
</body>
</html>